/*GENERAL*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Spectral:wght@500&display=swap%22);

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.marginLeft {
  padding-left: 100px;
}

.marginRight {
  padding-right: 100px;
}

@media screen and (max-width: 600px) {
  .marginLeft {
    padding-left: 50px;
  }
  .marginRight {
    padding-right: 50px;
  }
}

.bolad {
  font-weight: bold;
}
/*header*/

#topBar {
  padding: 1em;
  background-color: #ffc017;
  border-bottom: solid 1px black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: 1s;
}

nav {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
  padding: 0.75em;
}

button.getstarted {
  background-color: black;
  border-radius: 50px;
  color: white;
}

@media screen and (max-width: 768px) {
  .shadowbutton {
    display: none !important;
  }
}

/* secondary nav */

main {
  padding-top: 68px;
}

#secondaryNav {
  font-family: Spectral, san serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #ffc017;
  border-bottom: solid 1px black;
}

#secondaryNav > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  min-width: 300px;
}

#secondaryNav > div > h2 {
  letter-spacing: -5px;
  font-size: 4.5em;
  margin: 0 0 0.25em 0;
}

#secondaryNav > div > p {
  font-size: 1.9em;
  margin: 0 0 0.5em 0;
}

#secondaryNav > div > button {
  width: fit-content;
  font-size: 1em;
}

#fatherG > g {
  transition: 1s;
}

#secondaryNav svg {
  max-width: 45%;
  min-width: 30%;
}

@media screen and (max-width: 768px) {
  #secondaryNav > div > h2 {
    letter-spacing: -5px;
    font-size: 4em;
    margin: 0 0 0.25em 0;
  }

  #secondaryNav > div > p {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
  }
}

@media screen and (max-width: 600px) {
  #secondaryNav > div > h2 {
    letter-spacing: -5px;
    font-size: 3em;
    margin: 0 0 0.25em 0;
  }

  #secondaryNav > div > p {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
  }
}

/* card section */

#cardsSection {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px black;
}

.cardNav {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardItem {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: 0 1em 1em 0;
}

.cardNumber {
  font-size: 1.5em;
  padding: 0.25em;
}

.cardData {
  display: flex;
  flex-direction: column;
}

.cardData div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* articles section */

#footerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#articlesSection {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.articleItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.articleData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 1em;
}

.articleAutor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.articleAutor img {
  border-radius: 100px;
  margin-right: 1em;
}

.articleTitle {
  font-size: 1.25em;
}

.articleFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleFooter > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.articleFooter button {
  background-color: lightgray;
  border-radius: 50px;
}

.imgArticle {
  width: 200px;
  height: 175px;
  margin: 1em;
}

@media screen and (max-width: 750px) {
  .imgArticle {
    display: none;
  }
}

/* aside section*/

#asideSection {
  width: 33%;
  padding: 5%;
}

#asideSection .discoverMore {
  border-bottom: solid 1px black;
}

.discoverMore div {
  margin-bottom: 1em;
}

.discoverMore button {
  font-size: 0.7em;
  border: solid 1px gray;
  margin: 0.5em;
}

#asideSection .helper {
  color: gray;
}

.helper {
  margin-top: 1em;
}

@media screen and (max-width: 1100px) {
  #footerSection {
    flex-direction: column-reverse;
  }

  #articlesSection {
    width: 100%;
  }

  #asideSection {
    width: 90%;
    padding: 5%;
  }
}
